<h1>Login</h1>
<%= form_with url: 'top/login' do |form| %>
  <%= form.label :uid, 'User ID' %>
  <%= form.text_field :uid %>
  <br>
  <%= form.label :pass, 'Password' %>
  <%= form.text_field :pass %>
  <br>
  <%= form.submit 'Submit' %>
<% end %>
<br>
<%= link_to 'Create User', new_user_path %>
