<h1>Add new user</h1>

<%= form_with model: @user, url: {action: :create} do |f| %>
  <%= f.label :uid, 'User ID' %>
  <%= f.text_field :uid %>
  <br>
  <%= f.label :pass, 'Password' %>
  <%= f.text_field :pass %>
  <br>
  <%= f.submit 'Submit' %>
<% end %>
